<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="trading_menu_root" name="Trading" sequence="10"/>
    <menuitem id="trading_menu_settings" name="Settings" parent="trading_menu_root" sequence="20"/>
    <menuitem id="trading_menu_product" name="Product Categories" parent="trading_menu_settings" action="action_product_category" sequence="10"/>
    <menuitem id="trading_menu_stock" name="Stock Locations" parent="trading_menu_settings" action="action_stock_location" sequence="20"/>
    <menuitem id="trading_menu_customer" name="Customers" 
        parent="trading_menu_settings" 
        action="action_customer" 
        sequence="30"/>
    <menuitem id="trading_menu_vendor" name="Vendors" 
        parent="trading_menu_settings" 
        action="action_vendor" 
        sequence="40"/>
        <menuitem id="trading_menu_expense" name="Expenses" parent="trading_menu_settings" action="action_expense" sequence="50"/>
        <menuitem id="trading_menu_payment" name="Payments" parent="trading_menu_settings" action="action_payment" sequence="60"/>
        <menuitem id="trading_menu_sales" name="Sales" parent="trading_menu_root" action="action_trading_sales" sequence="15"/>
        
</odoo>
